* {
    font-family: 'Roboto';
    font-style: normal;
}

.body {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/assets/images/backgroundimg.jpg");
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    overflow: hidden;
}

.container {
    width: 800px;
    background-color: transparent;
    padding: 1.5rem 1.8rem;
    border-radius: .3rem;
}

.container .title {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    font-family: Roboto;
    font-weight: 500;
    line-height: 2.9rem;
    letter-spacing: 0rem;
}

.container .desc {
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    padding-top: 1.5rem;
    letter-spacing: .1rem;
    font-size: 1.8rem;
}

.user-details {
    padding-top: 1.6rem;
}

form .user-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

form .user-details .input-box {
    margin: .9rem;
    height: 4rem;
}

form .input-box small {
    display: block;
    font-weight: 500;
    margin-top: .3rem;
}

form label {
    margin-bottom: .3rem;
}

.user-details .input-box input {
    height: 2.8rem;
    width: 100%;
    outline: none;
    font-size: 1rem;
    border-radius: .3rem;
    padding-left: .9rem;
    border: solid #ccc;
    border-bottom-width: .1rem;
    transition: all 0.3s ease;
    background: transparent;
    color: #fff;

}

::-webkit-input-placeholder {
    color: grey;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    background: transparent;
}

:host ::ng-deep p-radioButton {
    display: inline-block;
    cursor: pointer;
    margin-right: .9rem;
}

form .button {
    height: 2.8rem;
    margin: 2.1rem 0;
    align-self: center;
    justify-content: center;
    display: flex;
}

:host ::ng-deep button {
    height: 3.1rem;
    width: 21.6rem;
    left: 0rem;
    top: 0rem;
    border-radius: .3rem;
    align-items: center;
    border-radius: .3rem;
    border: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: .06rem;
    cursor: pointer;
    background: #0AA6FE;
    justify-content: center;
}

.account-btn:hover {
    background: #fff;
    color: #000;
}

.terms {
    text-align: center;
}

.container .terms {
    text-align: center;
    justify-content: center;
    margin-top: 1.2rem;
}

.terms-policy {
    padding-top: 1rem;
}

.container .button {
    align-items: center;
}

.container .account {
    text-align: center;
}