<div class="body">
    <div class="container">
        <h1 class="title">Imaginnovate</h1>

        <h2 class="desc">Register your account</h2>

        <div class="content">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                <div class="user-details">
                    <div class="p-field input-box">

                        <label for="firstName">First Name</label>
                        <input id="firstName" type="text" formControlName="firstName" class="p-invalid"
                            [ngClass]="{'border-danger': this.registerForm.controls['firstName'].touched && this.registerForm.controls['firstName'].invalid}"
                            placeholder="John" pInputText />
                        <small class="p-invalid text-danger"
                            *ngIf="this.registerForm.controls['firstName'].touched && this.registerForm.controls['firstName'].invalid">Username
                            is not available.</small>
                    </div>
                    <div class="p-field input-box">
                        <label for="lastName">Last Name</label>
                        <input id="lastName" type="text" formControlName="lastName" class="p-invalid" placeholder="marshall" pInputText />
                    </div>
                    <div class="p-field input-box">
                        <label for="phoneNumber">Phone Number</label>
                        <input id="phoneNumber" type="number" formControlName="phoneNumber" placeholder="9876543210" pInputText />
                    </div>
                    <div class="p-field input-box">
                        <label for="emailAddress">Email Address</label>
                        <input id="emailAddress" type="email" formControlName="emailAddress" class="p-invalid"
                            [ngClass]="{'border-danger': this.registerForm.controls['emailAddress'].touched && this.registerForm.controls['firstName'].invalid}"
                            placeholder="John.marshall@gmail.com" pInputText />
                        <small class="p-invalid text-danger"
                            *ngIf=" this.registerForm.controls['emailAddress'].touched &&  this.registerForm.controls['emailAddress'].invalid">Vaild
                            Email Address is
                            required</small>
                    </div>
                    <div class="p-field input-box">
                        <label for="password">Password</label>
                        <input id="password" type="password" autocomplete="on" formControlName="password"
                            [ngClass]="{'border-danger': this.registerForm.controls['password'].touched && this.registerForm.controls['password'].invalid}"
                            class="p-invalid" placeholder="**********" pInputText />
                        <small class="p-invalid text-danger"
                            *ngIf="this.registerForm.controls['password'].touched && this.registerForm.controls['password'].invalid">Password
                            minimum 8 characters required</small>
                    </div>
                    <div class="p-field input-box">
                        <label for="confirmPassword">Confirm Password</label>
                        <input id="confirmPassword" type="password" autocomplete="on" formControlName="confirmPassword"
                            [ngClass]="{'border-danger': this.registerForm.controls['confirmPassword'].touched && this.registerForm.controls['confirmPassword'].invalid}"
                            class="p-invalid" placeholder="**********" pInputText />
                        <small class="p-invalid text-danger"
                            *ngIf="this.registerForm.controls['confirmPassword'].touched && this.registerForm.controls['confirmPassword'].invalid">Confirm
                            Password is
                            required</small>
                        <small class="p-invalid text-danger"
                            *ngIf="!(this.registerForm.controls['confirmPassword'].value == this.registerForm.controls['password'].value)">Password
                            mismatch</small>
                    </div>
                </div>
                <div class="terms">
                    <p-radioButton formControlName="privacypolicy" value="true" id="radio"></p-radioButton>
                    <label for="btn">I agree to Terms & Privacy Policy</label>
                    <div>
                        <small id="radio" class="p-invalid text-danger" *ngIf="this.registerForm.controls['privacypolicy'].invalid">Please
                            agree
                            Terms & Privacy Policy</small>
                    </div>
                </div>

                <div class="button">
                    <p-toast></p-toast>

                    <p-button type="submit" label="Create Account" styleClass="p-button"></p-button>
                </div>
                <div class="account">
                    <p><a routerLink="/login"> Have an account? Join free Today</a></p>
                </div>
            </form>
        </div>
    </div>
</div>