<div class="sidenav">

    <div class="title">
        <h1>Imaginnovate</h1>
    </div>

    <div class="list">
        <div class="dashboard" routerLinkActive="active-link">
            <i class="pi pi-home"></i>
            <a routerLink="/dashboard" ><span>Dashboard</span></a>
        </div>

        <div class="profile" routerLinkActive="active-link">
            <i class="pi pi-comment"></i>
            <a routerLink="/profile" ><span>Profile</span></a>
        </div>

        <div class="users" routerLinkActive="active-link">
            <i class="pi pi-user"></i>
            <a routerLink="/users" ><span>Users</span></a>
        </div>

        <div class="settings">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </div>

        <div class="logout">
            <i class="pi pi-sign-out"></i>
            <a routerLink="/register"> <span> Logout</span></a>

        </div>
    </div>
</div>