.sidenav {
    height: 1052px;
    width: 255px;
    left: 32px;
    top: 0px;
    border-radius: 0px;
    margin-top: 25px;
}

.title {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: .625rem;
}

.list {
    padding-top: 130px;
    padding-left: 50px;
}

.dashboard,
.users,
.profile,
.settings,
.logout {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    padding: 7px;
display: flex;
}

.list span{
    margin-left: 20px;
   
}