<div class="sidenav">
    <div class="title"><h1>Imaginnovate</h1></div>
    <!-- HEADER -->
    <div class="list">
        <div class="dashboard">
            <div class="icons"> <i class="pi pi-home"></i></div>
            <a routerLink="/dash-board/dashboard"><span>Dashboard</span> </a>

        </div>
        <div class="profile">
            <div class="icons"> <i class="pi pi-comment"></i></div>
            <a  routerLink="/dash-board/profile"><span>Profile</span> </a>

        </div>
        <div class="users">
            <div class="icons"> <i class="pi pi-user"></i></div>
            <a routerLink="/dash-board/users"><span>Users</span> </a>

        </div>
        <div class="settings">
            <div class="icons"> <i class="pi pi-cog"></i></div>
            <span>Settings</span>

        </div>
        <div class="logout">
            <div class="icons"> <i class="pi pi-sign-out"></i></div>
            <span> Logout</span>

        </div>
    </div>
</div>