.sidenav {
  height: 59.25rem;
  width: 15.375rem;
  left: 2rem;
  top: 0rem;
  border-radius: 0rem;
  margin-top: 1.5625rem;
  margin-left: 2rem;
}

.title {
  font-family: Roboto;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 2.9375rem;
  letter-spacing: 0em;
  text-align: left;
  left: -0.375rem;
  color: #0A376E;
}

.list {
  padding-top: 8.125rem;
  padding-left: 3.125rem;
}

.list a {
  color: #000000;

}

.dashboard,
.users,
.profile,
.settings,
.logout {
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3125rem;
  letter-spacing: 0em;
  text-align: left;
  padding: 1rem;
  display: flex;
  color: #000000;
  font-style: none;
  border-radius: .1875rem;
  height: 2.5rem;
  width: 9.5rem;
  left: 0rem;
  top: 0rem;
  border-radius: 3.125rem;
  padding: .5rem, .75rem, .5rem, .75rem;
}

.dashboard :hover {
  cursor: pointer;
}

.profile :hover {
  cursor: pointer;
}

.users :hover {
  cursor: pointer;
}

.settings :hover {
  cursor: pointer;
}

.logout :hover {
  cursor: pointer;
}

.list span {
  margin-left: 1.25rem;
}