.sidenav {
  height: 948px;
  width: 255px;
  left: 32px;
  top: 0px;
  border-radius: 0px;
  margin-top: 25px;
}

.title {
  font-family: Roboto;
  font-size: 40px;
  font-weight: 600;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: .625rem;
  color: #0A376E;
}

.list {
  padding-top: 130px;
  padding-left: 50px;
}

.list a{
  color: #000000;
 
}
.dashboard,
.users,
.profile,
.settings,
.logout {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  padding: 16px;
  display: flex;
  color: #000000;
  font-style: none;
  border-radius: 3px;
  height: 40px;
  width: 152px;
  left: 0px;
  top: 0px;
  border-radius: 50px;
  padding: 8px, 12px, 8px, 12px;


}

.dashboard :hover {
  cursor: pointer;
}

.profile :hover {
  cursor: pointer;
}

.users :hover {
  cursor: pointer;
}

.settings :hover {
  cursor: pointer;
}

.logout :hover {
  cursor: pointer;
}

.list span {
  margin-left: 20px;

}