<div class="login-page">
    <div class="login">
        <div class="login-title">Imaginnovate</div>
        <div class="login-des">Login to your account</div>
        <div class="content">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" action="#">
                <div class="user-details">
                    <div class="input-field">
                        <div class="p-field">
                            <label for="emailAddress">Email Address</label>
                            <input id="emailAddress" type="email" formControlName="emailAddress"
                                [ngClass]="{'border-danger': getFormControll('emailAddress').touched && getFormControll('emailAddress').invalid}"
                                class="p-invalid" placeholder="John.marshall@gmail.com" pInputText />
                            <small class="p-invalid text-danger "
                                *ngIf="getFormControll('emailAddress').touched && getFormControll('emailAddress').invalid">Valid
                                Email
                                Address is
                                required</small>
                        </div>
                        <div class="p-field">
                            <label for="password">Password</label>
                            <input id="current-password" type="password" autocomplete="on" formControlName="password"
                                [ngClass]="{'border-danger': getFormControll('password').touched && getFormControll('password').invalid}"
                                class="p-invalid" placeholder="**********" pInputText />
                            <small class="p-invalid text-danger"
                                *ngIf="getFormControll('password').touched && getFormControll('password').invalid">Password
                                minimum 8 characters
                                required</small>
                        </div>
                    </div>
                    <div class="login-class">
                        <div class="field-radiobutton">
                            <p-radioButton formControlName="remeberme" value="true" inputId="city1"></p-radioButton>
                            <!-- <input type="radio" name="radio" value="true" id="radio"> -->

                            <label for="city">Remember me</label>
                        </div>
                        <div class="forget-password">
                            <span class="login-forget-password">Forget Password?</span>
                        </div>
                    </div>
                </div>
                <div class="button">
                    <p-toast></p-toast>
                    <p-button type="submit" label="Login now" styleClass="p-button"></p-button>
                </div>
                <div class="account">
                    <a [routerLink]="'/signup'"> Dont have an account? Join free today</a>
                </div>
            </form>
        </div>
    </div>
</div>