.main {
    display: flex;
}

.sidebar {
    border: .0625rem solid
}

.dashboard {
    margin-left: 1.875rem;
    align-items: right;
    width: 100%;
    margin-top: 1.5625rem;
    margin-right: 1.875rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

.title {
    font-family: Roboto;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 2.9375rem;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 1.25rem;
    color: #0A376E;
  
}

.icons {
    display: flex;
    margin-right: 2.5rem;
}

.icons .bell {
    margin-right: .625rem;
    margin-top: .625rem;
}

.icons .imageicon {
    margin-right: .0625rem;
}

.card {
    padding-top:6.25rem ;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(15,1fr);
    border: none;
    cursor: pointer;
}
.cards span{
    font-family: Roboto;
font-size: 1.75rem;
font-weight: 700;
line-height: 2.0625rem;
letter-spacing: 0em;
text-align: left;
color: #000000;

}

.cards label{
    font-family: Roboto;
font-size: .875rem;
font-weight: 400;
line-height: 1rem;
letter-spacing: 0em;
text-align: left;
color: #8E8E8E;
}
.view {
    padding: 1.0625rem;
    display: flex;
    justify-content: space-between;
}


.view .statistics {
    font-family: Roboto;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.3125rem;
    letter-spacing: 0em;
    text-align: left;
    color: #2C2C2C;

}

.view .date {
    margin-right: 5.625rem;
    display: flex;
    padding: .5rem;
    height: 0rem;
    width: 6.25rem;
}

:host ::ng-deep .p-calendar {
    height: .125rem;
}

.date label {
    height: 1rem;
    width: 3.875rem;
    left: 2.5rem;
    top: .75rem;
    color: #0C4284;
    padding-left: .625rem;
    cursor: pointer;
}

.graph {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}

.users {
    display: flex;
    justify-content: space-between;
    margin-top: 1.25rem;
}

.user {
    font-family: Roboto;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.3125rem;
    letter-spacing: 0em;
    text-align: left;
    height: 1.3125rem;
    width: 2.875rem;
    left: 0rem;
    top: 1.0938rem;
    border-radius: nullpx;
    margin-left: 1.875rem;
    
}

.seemore {
    margin-right: 5.625rem;
    height: 1.5rem;
    width: 4.6875rem;
    left: 72.0625rem;
    top: .75rem;
    border-radius: .25rem;
    cursor: pointer;
    color: #0C4284;
    border: 1px solid;
    text-align: center;
    
}
.table{
    margin-top: 1.25rem;
}