<div class="main">

    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <div class="dashboard">

        <div class="header">
            <div class="title">
                <h1>Dashboard</h1>
            </div>
            <div class="searchicons">
                <div class="search">
                    <div class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input type="" pInputText placeholder="Search" />
                    </div>
                </div>

                <div class="icons">
                    <div class="bell"><i class="pi pi-bell" style="font-size: 1.5rem"></i></div>

                    <p-divider layout="vertical"></p-divider>

                    <div class="imageicon"><a routerLink="/dash-board/profile"> <img src="/assets/images/avatarpic.jpg">
                        </a></div>
                </div>

            </div>


        </div>

        <div class="card">

            <div class="cards">
                <p-card [style]="{'width': '12.5rem', 'margin-bottom': '2em'}" (click)="oncardclick(1.2)">
                    <span>2,223,214</span>
                    <label>Total View</label>
                </p-card>
            </div>

            <p-divider layout="vertical"></p-divider>

            <div class="cards">
                <p-card [style]="{'width': '12.5rem', 'margin-bottom': '2em'}" (click)="oncardclick(2.5)">
                    <span>1,312,022</span>
                    <label>Total Download</label>
                </p-card>
            </div>

            <p-divider layout="vertical"></p-divider>

            <div class="cards">
                <p-card [style]="{'width': '12.5rem', 'margin-bottom': '2em'}" (click)="oncardclick(1.8)">
                    <span>1,959,453</span>
                    <label>Total Read</label>
                </p-card>
            </div>

            <p-divider layout="vertical"></p-divider>

            <div class="cards">
                <p-card [style]="{'width': '12.5rem', 'margin-bottom': '2em'}" (click)="oncardclick(3.1)">
                    <span>234,032</span>
                    <label>Total Comments</label>
                </p-card>
            </div>

        </div>

        <div class="view">
            <div class="statistics">
                <span>View statistic</span>
            </div>
            <div class="date">
                <p-calendar [showIcon]="true" inputId="icon"></p-calendar>
                <label for="icon">Yesterday</label>
            </div>
        </div>

        <div class="graph">
            <p-chart type="line" width="1188px" height="136px" [data]="basicData" [options]="basicOptions"></p-chart>
        </div>

        <div class="users">
            <div class="user">
                <span>Users</span>
            </div>
            <div class="seemore">
                <span (click)="onseemoreclick()">{{seeMore?"see More":"see Less"}}</span>
            </div>
        </div>
        <hr>
        <div class="table">
            <p-table [value]="products" responsiveLayout="scroll">

                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            <p-avatar styleClass="mr-2" size="small" shape="circle"> {{ product.label}}</p-avatar>
                            {{product.Name}}
                        </td>
                    </tr>
                </ng-template>

            </p-table>
        </div>
    </div>
</div>