<div class="main">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>


    <div class="users">
        <div class="header">
            <div class="title"><span>Users list</span> </div>
            <div class="icons">
                <div class="bell"> <i class="pi pi-bell" style="font-size: 1.5rem"></i></div>

                <p-divider layout="vertical">
                </p-divider>
                <div class="imageicon"> <a routerLink="/dash-board/profile"> <img src="/assets/images/imageicon.jpg">
                    </a></div>
            </div>
        </div>
        <div class="table">

            <p-table [value]="products" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>Name</th>
                        <th>Email Address</th>
                        <th>Phone Number</th>
                        <th>Date Created</th>
                        <th>Pincode Address</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-product>

                    <tr>
                        <td>
                            <p-tableCheckbox [value]="product"></p-tableCheckbox>

                        </td>
                        <td>{{product.Name}}</td>
                        <td>{{product.EmailAddress}}</td>
                        <td>{{product.PhoneNumber}}</td>
                        <td>{{product.DateCreated}}</td>
                        <td>{{product.PincodeAddress}}</td>
                    </tr>
                </ng-template>

            </p-table>

        </div>
    </div>
</div>