.main {
    display: flex;
}

.sidebar {
    border: .0625rem solid
}

span {
    font-family: Roboto;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 2.9375rem;
    letter-spacing: 0em;
    text-align: left;
}

.header {
    display: flex;
    justify-content: space-between;
}

.icons {
    display: flex;
}

.icons .bell {
    margin-right: 1.25rem;
    margin-top: .625rem;
}

.icons .imageicon {
    margin-right: 6.25rem;
}

.table {
    margin-top: 4.375rem;
}

.users {
    margin-left: 1.25rem;
    align-items: right;
    width: 100%;
    height: 100%;
    margin-top: 1.5625rem;
}