.main {
    display: flex;
}

.sidebar {
    border: .01rem solid #D4D4D4;
}


.profile {
    margin-left: 3rem;
    align-items: right;
    width: 100%;
    margin-right: 2rem;
}

.header {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.title h1 {
    font-family: Roboto;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 1.2rem;
}

.icons {
    display: flex;
    margin-right: 2.5rem;
}

.icons .bell {
    margin-right: .6rem;
    margin-top: .6rem;
}

.icons .imageicon {
    margin-right: .06rem;
}

.body {
    // height: 38rem;
    width: 50 rem;
    left: 21.5rem;
    top: 8.75rem;
    border-radius: .25rem;
    border-radius: .25rem;
    border: .1rem solid #D4D4D4;
    margin-top: 1.8rem;
  
}

.editprofile {
    margin-top: 1rem;
    margin-left: 1.8rem;
    font-size: 1.25rem;
    font-weight: 500;
}

.name {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: .9rem;
    margin-top: 1rem;
}

.profileimage {
    justify-content: center;
    align-items: center;
    display: flex;
}

.fields {
    justify-content: center;
    align-items: center;
    margin-right:10rem;
    margin-left:10rem;
    margin-top: 1rem;
}

.fieldname {
    display: flex;
    justify-content: space-between;
}

.input-box .label {
    width: 4.4rem;
    left: 36rem;
    top: 22.8rem;
}

.input-box input {
    height: 3.4rem;
    width: 18.7rem;
    left: 36rem;
    top: 24.6rem;
    border-radius: .15rem;
    display: block;
    color: grey;
}

.p-field-email {
    height: 3.4rem;
    left: 36rem;
    top: 23.1rem;
    border-radius: .12em;
    display: block;
    margin-top: 2.5rem;
    
}

.p-field-email input {
    height: 3.4rem;
    width: 44rem;
    left: 36rem;
    top: 30rem;
    border-radius: .12rem;
    margin: 1rem;
}

.mobilenumber {
    width: 18.7rem;
    left: 36rem;
    top: 24.6rem;
    border-radius: .12rem;
    display: block;
}

.fieldnumber {
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
}

.fieldnumber input {
    height: 3.4rem;
    width: 18.7rem;
    left: 36rem;
    top: 24.6rem;
    border-radius: .12rem;
    display: block;
}

.fieldnumber input {
    height: 3.45rem;
    width: 18.75rem;
    left: 61rem;
    top: 38.37rem;
    border-radius: .12rem;
}

:host ::ng-deep button {
    height: 2.6rem;
    width: 11rem;
    display: flex;
    margin-top: 3rem;
    color: #fff;
    background-color: #0AA6FE;
    font-size: 1.1rem;
    letter-spacing: .06rem;
    cursor: pointer;
    font-family: Roboto;
    font-weight: 100;
    line-height: 1.3rem;
    letter-spacing: 0.01em;
    text-align: center;
    margin-top: 5rem;
    margin-right: 10rem;

}