<div class="main">

    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>

    <div class="profile">
        <div class="header">
            <div class="title">
                <h1>Profile</h1>
            </div>
            <div class="icons">
                <div class="bell"> <i class="pi pi-bell" style="font-size: 1.5rem"></i></div>
                <p-divider layout="vertical">
                </p-divider>
                <div class="imageicon"> <img src="/assets/images/avatarpic.jpg"></div>
            </div>
        </div>

        <div class="body">
            <form [formGroup]="profileForm" (ngSubmit)="onsubmit()">
                <div class="editprofile">
                    <span> Edit profile</span>
                </div>
                <div class="profileimage">
                    <img src="/assets/images/avatarimg.jpg">
                </div>
                <div class="name">
                    <h4>john marshall</h4>
                </div>
                <div class="fields">

                    <div class="fieldname">
                        <div class="p-field input-box">
                            <label for="firstName">First Name</label>
                            <input id="firstName" type="text" formControlName="firstName" class="p-invalid"
                                [ngClass]="{'border-danger': profileForm.controls['firstName'].touched && profileForm.controls['firstName'].invalid}"
                                placeholder="John" pInputText />
                            <small class="p-invalid text-danger"
                                *ngIf="profileForm.controls['firstName'].touched && profileForm.controls['firstName'].invalid">
                                Username
                                is not available.</small>
                        </div>

                        <div class="p-field input-box">
                            <label for="lastName">Last Name</label>
                            <input id="lastName" type="text" formControlName="lastName" class="p-invalid"
                                placeholder="marshall" pInputText />
                        </div>

                    </div>

                    <div class="p-field-email">
                        <label for="emailAddress">Email Address</label>
                        <input id="emailAddress" type="email" formControlName="emailAddress" class="p-invalid"
                            [ngClass]="{'border-danger': profileForm.controls['emailAddress'].touched && profileForm.controls['firstName'].invalid}"
                            placeholder="John.marshall@gmail.com" pInputText />
                        <span class="p-invalid text-danger"
                            *ngIf=" profileForm.controls['emailAddress'].touched &&  profileForm.controls['emailAddress'].invalid">Vaild
                            Email Address is
                            required</span>
                    </div>

                    <div class="fieldnumber">
                        <div class="p-field input-box">
                            <label for="phoneNumber">Phone Number</label>
                            <input id="phoneNumber" type="number" formControlName="phoneNumber" placeholder="9876543210"
                                pInputText />
                        </div>
                        <div class="p-field input-box">
                            <label for="pincode">pincode</label>
                            <input id="pincode" type="number" formControlName="pincode" placeholder="9876543210"
                                pInputText />
                        </div>
                    </div>


                </div>
                <div class="button">
                    <p-button type="submit" label="Save" styleClass="p-button"></p-button>
                </div>
            </form>
        </div>


    </div>
</div>