<div class="main">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>



    <div class="profile">
        <div class="header">
            <div class="title">
                <span>profile</span>
            </div>
            <div class="icons">
                <div class="bell"> <i class="pi pi-bell" style="font-size: 1.5rem"></i></div>
                <p-divider layout="vertical">
                </p-divider>
                <div class="imageicon"> <img src="/assets/images/imageicon.jpg"></div>
            </div>
        </div>
        <div class="body">
            <div class="editprofile">
                <span> Edit profile</span>
            </div>
            <div class="profileimage">
                <img src="/assets/images/image.jpg">
            </div>
            <div class="name">
                <h4>john marshall</h4>
            </div>
            <div class="fields">
                <div class="fieldname">
                    <div class="input-box">
                        <label for="firstName">First Name</label>
                        <input id="firstName" type="text" class="p-invalid" placeholder="John">

                    </div>
                    <div class=" input-box">
                        <label for="lastName">Last Name</label>
                        <input id="lastName" type="text" class="p-invalid" placeholder="marshall">
                    </div>
                </div>
                <div class="email">
                    <label for="email"> Email Address</label>
                    <input id="email" type="email" class="emailid" placeholder="john.marshall@gmail.com" />
                </div>
                <div class="fieldnumber">
                    <div class="inputnumber">
                        <label for="phoneNumber">Mobile Number</label>
                        <input id="phoneNumber" class="number" type="number" placeholder="+1(415)4567890">
                    </div>
                    <div class="inputnumber">
                        <label for="pincode">Pincode </label>
                        <input class="number" type="number" placeholder="0001895" />
                    </div>
                </div>
            </div>
        </div>
        <div class="button">
            <p-button class="submit">Save</p-button>
        </div>
    </div>
</div>