.main {
    display: flex;
}

.sidebar {
    border: .0625rem solid
}

.profile {
    margin-left: 3.75rem;
    align-items: right;
    width: 100%;
    margin-top: 1.5625rem;
}

.header {
    margin-top: 1.25rem;
    display: flex;
    justify-content: space-between;
}

.title {
    font-family: Roboto;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 2.9375rem;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 3.4375rem;
}

.icons {
    display: flex;
}

.icons .bell {
    margin-right: 1.25rem;
    margin-top: .625rem;
}

.icons .imageicon {
    margin-right: 6.25rem;
}

.body {
    height: 36.375rem;
    width: 76.0625rem;
    left: 21.5rem;
    top: 8.75rem;
    border-radius: .25rem;
    border: .0625rem solid;
    margin-left: 7.8125rem;
    margin-top: 1.875rem;
}

.editprofile {
    margin-top: 1.0625rem;
    margin-left: 1.875rem;
    font-size: 1.25rem;
}

.name {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: .875rem;
}

.profileimage {
    justify-content: center;
    align-items: center;
    display: flex;
}

.fields {
    justify-content: center;
    align-items: center;
    margin-right: 16.875rem;
    margin-left: 16.875rem;
}

.fieldname {
    display: flex;
    justify-content: space-between;
}

.input-box .label {
    width: 4.4375rem;
    left: 36rem;
    top: 22.8125rem;
}

.input-box .p-invalid {
    height: 3.4375rem;
    width: 18.75rem;
    left: 36rem;
    top: 24.625rem;
    border-radius: .125rem;
    display: block;
    color: grey;
}

.email {
    height: 3.4375rem;
    left: 36rem;
    top: 23.125rem;
    border-radius: .125rem;
    display: block;
    margin-top: 2.5rem;
}

.emailid {
    height: 3.4375rem;
    width: 42.5rem;
    left: 36rem;
    top: 31.5rem;
    border-radius: .125rem;
}

.mobilenumber {
    width: 18.75rem;
    left: 36rem;
    top: 24.625rem;
    border-radius: .125rem;
    display: block;
}

.fieldnumber {
    margin-top: 3.4375rem;
    display: flex;
    justify-content: space-between;
}

.inputnumber .number {
    height: 3.4375rem;
    width: 18.75rem;
    left: 36rem;
    top: 24.625rem;
    border-radius: .125rem;
    display: block;
}

.inputnumber .input {
    height: 3.4375rem;
    width: 18.75rem;
    left: 61rem;
    top: 38.375rem;
    border-radius: .125rem;
}

:host ::ng-deep .button .submit {
    height: 2.625rem;
    width: 11rem;
    align-items: right;
    justify-content: right;
    display: flex;
    margin-top: 1.875rem;
    margin-left: 73.125rem;
    color: #fff;
}